.overlay {
  background-color: rgba(52,90,162,0.75);
  color: #fff;
}

.background-lightblue{
    background: #ccccff !important;
}

.background-blue{
    background: #d9edf7 !important;
}

.navbar-no-margin-bottom{
    margin-bottom: 0px !important;
}

.special-padding{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.badge-error {
  background-color: #d94a48;
}

.logos {
  padding-top: 20px;
}

#logo-vw img{
  width: 70%;
}

#logo-goettingen img{
  width: 70%;
}

#logo-sub img{
  width: 85%;
}
@media (max-width: 980px) {
  .logos img{
    padding-bottom: 20px;
  }
  #logo-vw-div {
    text-align: center;
  }
}

#table-filter td {
  padding-right: 15px;
  padding-top: 10px;
}
#table-filter-source {
  padding-top: 0px !important;
}

#spanPDUndefinied {
  padding-left: 10px;
  font-size: 80%;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    margin-bottom: 20px;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.pathErr {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colorsErr 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colorsErr 5.6s ease-in-out infinite;
}

@keyframes colorsErr {
  0% { stroke: #cc0000; }
  50% { stroke: #ff3300; }
  100% { stroke: #cc0000; }
}


@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}


@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}


/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

/* CSS for searchfield in navbar in search.html */
.rc-navbar-search {
  margin-top: 7px;
  margin-bottom: 7px;
}

.loader-text {
  margin-left: 20px;
  margin-top: 10px;
}
.main-css {
  margin-top: 20px;
}

.resulttable {
  margin-left: 20px;
  margin-right: 20px;
}

.div-margin-left {
  margin-left: 20px;
}

.wrapper-left {
  /*margin: 0 auto;*/
  margin-left: 10px;
}

.wrapper-bottom {
  margin-bottom: 55px;
}

/*Im Firefox ist die Darstellung falsch, das hier behebt es!*/
@media (min-width: 992px) {
  .fix-width-for-search-field {
    width: 100%;
  }
}

div.bootstrap-table #table{
    width: 100%;
    height: 100%;
}

.btn-default-hover {
  border-color: darkgrey;
  background-color: white;
  color: black;
}
.btn-default-hover:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}
.btn-green-hover {
  text-align: left;
  width: 140px;
  border-color: green;
  background-color: white;
  color: green;
}
.btn-green-hover:hover {
  color: #fff;
  background-color: green;
  border-color: green;
}
.btn-orange-hover {
  text-align: left;
  width: 140px;
  border-color: orange;
  background-color: white;
  color: orange;
}
.btn-orange-hover:hover {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-red-hover {
  text-align: left;
  width: 140px;
  border-color: darkred;
  background-color: white;
  color: darkred;
}
.btn-red-hover:hover {
  color: #fff;
  background-color: darkred;
  border-color: darkred;
}

.notesVisibility {
  display: none;
}
